openapi: 3.0.3
info:
  title: delphi (donation web site backend)
  version: '1.0.0'
  contact:
    name: API support
    url: https://support.tm.io
    email: info@verity.team
  license:
    name: GNU Affero General Public License v3 (AGPL-3.0)
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  description: |
    The delphi backend provides all the functions needed by the donation web
    site.

servers:
- url: https://api.tm.io/delphi/v1
  description: delphi (donation web site backend)

paths:
  /donation/affiliate:
    post:
      summary: set affiliate code for donation
      description: |
         Call this endpoint to set the affiliate code for a donation
      operationId: setAffiliateCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/affiliate_request'
      responses:
        "200":
          description: OK
        "400":
          description: |
            Bad input parameter; error message provides details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: |
            Client lacks valid authentication credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "5XX":
          description: |
            Servers are not working as expected. The request is probably valid
            but needs to be retried later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /donation/data/:
    get:
      summary: get general donation data
      description: |
         get the prices and the funds accumulated so far
      operationId: donationData
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/donation_data'
        "400":
          description: |
            Bad input parameter; error message provides details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: |
            Client lacks valid authentication credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "5XX":
          description: |
            Servers are not working as expected. The request is probably valid
            but needs to be retried later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /user/data/{address}:
    get:
      summary: get the donation data for the wallet address in question
      parameters:
        - in: path
          name: address
          required: true
          schema:
            type: string
            maxLength: 42
          description: |
            The wallet address for which to obtain data
          example: "0xDEd1Fe6B3f61c8F1d874bb86F086D10FFc3F0154"
      description: |
         get the donation data for the wallet address in question
      operationId: userData
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_data'
        "400":
          description: |
            Bad input parameter; error message provides details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: |
            Client lacks valid authentication credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "5XX":
          description: |
            Servers are not working as expected. The request is probably valid
            but needs to be retried later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
components:
  schemas:
    error:
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: error code
          example: 115
        message:
          type: string
          maxLength: 128
          description: error message
          example: all your bytes are wrong
    donation_data:
      required:
      - prices
      - stats
      properties:
        prices:
          type: array
          description: an array of prices
          items:
            $ref: '#/components/schemas/price'
        stats:
          $ref: '#/components/schemas/donation_stats'
    user_data:
      required:
      - donations
      - stats
      properties:
        donations:
          type: array
          description: an array of donations
          items:
            $ref: '#/components/schemas/donation'
        stats:
          $ref: '#/components/schemas/user_stats'
    donation:
      required:
      - amount
      - asset
      - tokens
      - price
      - tx_hash
      - status
      - ts
      properties:
        amount:
          description: amount donated
          type: string
          example: "1.23"
          maxLength: 16
        usd_amount:
          description: optional USD amount, omitted in case of USD stable coins
          type: string
          example: "2009.82"
          maxLength: 16
        asset:
          description: asset donated
          type: string
          enum: [eth, usdt, usdc]
          example: "eth"
          maxLength: 8
        tokens:
          description: amount of tokens corresponding to the donated amount
          type: string
          example: "980000"
          maxLength: 16
        price:
          description: token price at the time of donation
          type: string
          example: "0.002"
          maxLength: 16
        tx_hash:
          description: transaction hash for the donation in question
          type: string
          example: "0x558c8b86f75b0149ddca028a44a302eebe47c032e8ca8834f07aa6f1c5ae3fac"
          maxLength: 66
        status:
          description: ethereum blockchain status of the donation
          type: string
          enum: [unconfirmed, confirmed, failed]
          example: "unconfirmed"
          maxLength: 16
        ts:
          type: string
          format: date-time
          example: "2023-10-06T12:52:10+00:00"
          maxLength: 32
    price:
      required:
      - asset
      - price
      - ts
      properties:
        asset:
          type: string
          enum: [eth, truth]
          example: "eth"
          maxLength: 8
        price:
          description: asset price in USD
          type: string
          example: "1633.89"
          maxLength: 16
        ts:
          type: string
          format: date-time
          example: "2023-10-05T11:56:10+00:00"
          maxLength: 32
    donation_stats:
      required:
      - total
      - tokens
      - status
      properties:
        total:
          description: total funds raised in USD
          type: string
          example: "1980000"
          maxLength: 16
        tokens:
          description: number of tokens claimable by donors
          type: string
          example: "979999"
          maxLength: 16
        status:
          type: string
          enum: [open, paused, closed]
          example: "open"
          maxLength: 8
    user_stats:
      required:
      - total
      - tokens
      - staked
      - reward
      - status
      properties:
        total:
          description: total funds donated by this address in USD
          type: string
          example: "31415"
          maxLength: 16
        tokens:
          description: number of tokens the user is eligible to claim
          type: string
          example: "9880000"
          maxLength: 16
        staked:
          description: number of tokens the user staked; must be <= `tokens`
          type: string
          example: "979999"
          maxLength: 16
        reward:
          description: staking rewards the user is eligible to claim
          type: string
          example: "979"
          maxLength: 16
        status:
          type: string
          enum: [none, staking, unstaking]
          example: "staking"
          maxLength: 16
        ts:
          description: date/time at which the staking status was last modified
          type: string
          format: date-time
          example: "2023-10-05T09:23:10+00:00"
          maxLength: 32
    affiliate_request:
      required:
      - code
      - tx_hash
      properties:
        code:
          description: affiliate code for the donation in question
          type: string
          example: "TruffUdBuk6"
          maxLength: 12
        tx_hash:
          description: transaction hash for the donation in question
          type: string
          example: "0x558c8b86f75b0149ddca028a44a302eebe47c032e8ca8834f07aa6f1c5ae3fac"
          maxLength: 66
